.btn-botoes {
  gap: 10px
;
}


.btn-Repositório {
  width: 116px;
  height: 51px;
  padding: 16px;
  border: 1px solid #2A7AE4;
  color: rgb(106, 2, 202);
}

.btn-demo {
  width: 116px;
  height: 51px;
  padding: 16px;
  background: #2A7AE4;
  color: white;
}